<!doctype html>
<html class="no-js">

	<head>
		<meta charset="utf-8"/>
		<title>数据可视化</title>
		
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" media="all" href="/static/css/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		
		
		<!-- JS -->
		<script src="/static/js/jquery-1.6.4.min.js"></script>
		<script src="/static/js/css3-mediaqueries.js"></script>
		<script src="/static/js/custom.js"></script>
		<script src="/static/js/tabs.js"></script>
		<script src="/static/js/tabs.js"></script>
		
		
		<!-- Tweet -->
		<link rel="stylesheet" href="/static/css/jquery.tweet.css" media="all"  /> 
		<script src="/static/js/tweet/jquery.tweet.js" ></script> 
		<!-- ENDS Tweet -->
		
		<!-- superfish -->
		<link rel="stylesheet" media="screen" href="/static/css/superfish.css" /> 
		<script  src="/static/js/superfish-1.4.8/js/hoverIntent.js"></script>
		<script  src="/static/js/superfish-1.4.8/js/superfish.js"></script>
		<script  src="/static/js/superfish-1.4.8/js/supersubs.js"></script>
		<!-- ENDS superfish -->
		
		<!-- prettyPhoto -->
		<script  src="/static/js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
		<link rel="stylesheet" href="/static/js/prettyPhoto/css/prettyPhoto.css"  media="screen" />
		<!-- ENDS prettyPhoto -->
		
		<!-- poshytip -->
		<link rel="stylesheet" href="/static/js/poshytip-1.1/src/tip-twitter/tip-twitter.css"  />
		<link rel="stylesheet" href="/static/js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css"  />
		<script  src="/static/js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
		<!-- ENDS poshytip -->
		
		<!-- GOOGLE FONTS -->
		
		
		<!-- Flex Slider -->
		<link rel="stylesheet" href="/static/css/flexslider.css" >
		<script src="/static/js/jquery.flexslider-min.js"></script>
		<!-- ENDS Flex Slider -->
		
		<!-- Masonry -->
		<script src="/static/js/masonry.min.js" ></script>
		<script src="/static/js/imagesloaded.js" ></script>
		<!-- ENDS Masonry -->
		
		<!-- Less framework -->
		<link rel="stylesheet" media="all" href="/static/css/lessframework.css"/>
		
		<!-- modernizr -->
		<script src="/static/js/modernizr.js"></script>
		
		<!-- SKIN -->
		<link rel="stylesheet" media="all" href="/static/css/skin.css"/>
		
		
		

	</head>
	
	<body lang="en">
	
		<header>
			<div class="wrapper clearfix">
				
				<div id="logo">
					<a href="/" style="font-size:30px;color:white;font-size:bolder;">主页</a>
				</div>
				
				<!-- nav -->
				<ul id="nav" class="sf-menu">
					<li><a href="/linechart/">折线图</a></li>
					<li><a href="/scatterdiagram/">散点图</a></li>
					<li><a href="/histogram/">柱状图</a></li>
					<li><a href="/pie/">饼图</a></li>
					<li><a href="/rectangle/">矩形树图</a></li>
					<li><a href="/map/">环状图</a></li>
				</ul>
				<!-- ends nav -->
	
				
			</div>
		</header>
		
		
		
		<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
				
				<!-- masthead -->
				<div class="masthead clearfix">
					<h1>数据可视化</h1>
				</div>
				<div class='mh-div'></div>
				<!-- ENDS masthead -->
				
				
				
				<!-- portfolio list -->
	        	<div class="featured portfolio-list clearfix">
	        		
	        		<figure>
        				<a href="/linechart/" class="thumb">
        					<img src="/static/img/dummies/line.png" style="height:200px;" alt="Alt text" />
        				</a>
	        			<figcaption>折线图</figcaption>
	        		</figure>
	        		
	        		<figure>
        				<a href="/scatterdiagram/" class="thumb">
        					<img src="/static/img/dummies/point.png" style="height:200px;" alt="Alt text" />
        				</a>
	        			<figcaption>散点图</figcaption>
	        		</figure>
        		
	        		<figure>
        				<a href="/pie/" class="thumb">
        					<img src="/static/img/dummies/circle.png" style="height:200px;" alt="Alt text" />
        				</a>
	        			<figcaption>饼图</figcaption>
	        		</figure>
	        		
	        		<figure>
        				<a href="/rectangle/" class="thumb">
        					<img src="/static/img/dummies/tree.png" style="height:200px;" alt="Alt text" />
        				</a>
	        			<figcaption>矩形树图</figcaption>
	        		</figure>

					<figure>
        				<a href="/histogram/" class="thumb">
        					<img src="/static/img/dummies/rec.png" style="height:200px;" alt="Alt text" />
        				</a>
	        			<figcaption>柱形图</figcaption>
	        		</figure>
	        		
	        		<figure>
        				<a href="/map/" class="thumb">
        					<img src="/static/img/dummies/map.png" style="height:200px;" alt="Alt text" />
        				</a>
	        			<figcaption>环状图</figcaption>
	        		</figure>
	        		
	        	

				<!--  <figure>
        				<a href="project.html" class="thumb"></a>
        			  <figcaption></figcaption>
					</figure>

	        		
	        		<figure>
	        		  <figcaption>Pellentesque habitant morbi</figcaption>
        		  </figure>
				   		-->
	        	</div>
				
	        	<!-- ENDS featured -->
	        	
	        	
	        	<!-- pager -->
	        	<!-- ENDS pager -->

        	
        	

			<!-- Fold image -->
			<div id="fold"></div>
			</div>
			
		</div>
		<!-- ENDS MAIN -->
		
		
		<footer>	
			
			<div class="wrapper clearfix">
				
				<!-- widgets -->
				<ul  class="widget-cols clearfix">
					
					
					<li class="second-col">
						
						<div class="widget-block">
							<h4>联系我们</h4>
							<p><a href="#/" >Template Creme</a> 12345678</p>
						</div>
						
					</li>

			</div>
		</footer>
		
			
	</body>
	
</html>