
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>图表</title>
	{% load staticfiles %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/uploadify/uploadify.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/echarts.min.js"></script>
    <script src="/static/uploadify/jquery.uploadify.js"></script>
    <script type="text/javascript">
	var data;
    var backnews="fail";
        $(document).ready(function()
        {
            $('#uploadify').uploadify( {
            'swf' : '/static/uploadify/uploadify.swf',//上传按钮的图片，默认是这个flash文件
            'uploader' : "/add/",//上传所处理的服务器
            'folder' : '/static/images/users',//上传后，所保存文件的路径
            'queueID' : 'fileQueue',//上传显示进度条的那个div
            'buttonText' : '请选择文件',
            progressData : 'percentage',
            'auto' : true,
            'multi' : false,
            'onUploadSuccess' : function(arg0,data,arg2) {
						if(data=='no')
						{
							alert("请上传csv文件");
						}
						else{
							var jsonData = JSON.parse(data);
							data=jsonData;
							console.log(data);
							giveval(data);
						}
                    },
            'onDisable' : function() {
                alert('uploadify is disable');
            },
            'onError' : function(errorType,errObj) {
                alert('The error was: ' + errObj.info)
            }
        });
		function giveval(d){
			data=d;
			for(var key in data){
				str="<div class=\"col-xs-12 col-sm-6\"><label><input type=\"checkbox\" name=\"data-type\" value="+key+">"+key+"</label></div>";
				$("#dataclass").append(str);
			}
			$("input[name='data-type']").click(function() {
				$("input[name='data-type']").attr('disabled', true);
				if ($("input[name='data-type']:checked").length >= 2) {
					$("input[name='data-type']:checked").attr('disabled', false);
				} else {
					$("input[name='data-type']").attr('disabled', false);
				}
			});
		}
	});  
    </script>
    <style>
    	.upload-container{
    		margin-top:100px;
			min-height:100px;
    	}
    	.thumbnail img{
    	height:200px;
    	}
		#main{
			width:100%;
			height:auto;
		}
    </style>
  </head>
  
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-12 col-md-3">
					<div class="upload-container row">
						<div class="col-sm-8 col-sm-offset-2">
							<span>选择表格</span>
							<input type="file" name="uploadify" id="uploadify"/> 
						</div>
						<div id="fileQueue"></div>
					</div>
					<div class="row photo-type radio">
						<div class="col-xs-12 col-sm-6">
							<label>
								<input type="radio" name="photo-type" id="line-chart" value="1">
								折线图
							</label>
						</div>
						<div class="col-xs-12 col-sm-6">
							<label>
								<input type="radio" name="photo-type" id="scatter-diagram" value="2">
								散点图
							</label>
						</div>
						<div class="col-xs-12 col-sm-6">
							<label>
								<input type="radio" name="photo-type" id="histogram" value="3">
								柱状图
							</label>
						</div>
						<div class="col-xs-12 col-sm-6">
							<label>
								<input type="radio" name="photo-type" id="pie" value="4">
								饼图
							</label>
						</div>
						<div class="col-xs-12 col-sm-6">
							<label>
								<input type="radio" name="photo-type" id="rectangle" value="5">
								矩形树图
							</label>
						</div>
						<div class="col-xs-12 col-sm-6">
							<label>
								<input type="radio" name="photo-type" id="map"  value="6">
								地图
							</label>
						</div>
					</div>
					<div class="text-center">
						<button id="draw" class="btn btn-default">绘图</button>
					</div>
					<div class="row data-class" id="dataclass">
						
					</div>
				</div>
				<div class="col-sm-8 col-xs-12 col-md-9" id="main" style="width: 600px;height:400px;">
				
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#draw").click(function(){
					var phototype=0;
					if(data){
						phototype=$('input:radio[name="photo-type"]:checked').val();
						if(phototype==0){
							alert("请选择一种要绘制的图标类型");
						}
						else if(phototype==1){
							linechart();
						}
						else if(phototype==2){
							scatterdiagram();
						}
						else if(phototype==3){
							histogram();
						}
						else if(phototype==4){
							pie();
						}
						else if(phototype==5){
							rectangle();
						}
						else if(phototype==6){
							map();
						}
					}
					else{
						alert("请先上传文件");
					}
					return false;
				});
			});
			
		</script>
		<script type="text/javascript">
			function linechart()
			{
			
			}
		</script>
		<script type="text/javascript">
			function scatterdiagram()
			{
			
			}
		</script>
		<script type="text/javascript">
			function histogram()
			{
			
			}
		</script>
		<script type="text/javascript">
			function rectangle()
			{
			
			}
		</script>
		<script type="text/javascript">
			function map()
			{
			
			}
		</script>
		<script type="text/javascript">
			function pie()
			{
				var m=new Map();
				var key = new Set(data.省份);
				for(x of key)
				{
					json={"value":0 , "name":x}
					m.set(x,json);
				}
				var i=0;
				for(;i<data.省份.length;i++)
				{
					m.get(data.省份[i]).value+=parseInt(data.日志数量[i]);
				}
				result=new Array();
				for (var x of key) { // 遍历Map  
					result.push(m.get(x));  
				}
				title="省份-日志数量";
				console.log(result);
				option = {
					backgroundColor: '#2c343c',

					title: {
						text: title,
						left: 'center',
						top: 20,
						textStyle: {
							color: '#ccc'
						}
					},

					tooltip : {
						trigger: 'item',
						formatter: "{a} <br/>{b} : {c} ({d}%)"
					},

					visualMap: {
						show: false,
						min: 80,
						max: 600,
						inRange: {
							colorLightness: [0, 1]
						}
					},
					series : [
						{
							name:'访问来源',
							type:'pie',
							radius : '55%',
							center: ['50%', '50%'],
							data:
								result
							.sort(function (a, b) { return a.value - b.value}),
							roseType: 'angle',
							label: {
								normal: {
									textStyle: {
										color: 'rgba(255, 255, 255, 0.3)'
									}
								}
							},
							labelLine: {
								normal: {
									lineStyle: {
										color: 'rgba(255, 255, 255, 0.3)'
									},
									smooth: 0.2,
									length: 10,
									length2: 20
								}
							},
							itemStyle: {
								normal: {
									color: '#c23531',
									shadowBlur: 200,
									shadowColor: 'rgba(0, 0, 0, 0.5)'
								}
							}
						}
					]
				};
				var myChart = echarts.init(document.getElementById('main'));
				myChart.setOption(option);
			}
		</script>
  </body>
</html>
